[user]
	name = Nicholas Hutchinson
	email = nshutchinson@gmail.com
[core]
	quotepath = false
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = vim

[alias]
	hist = log --date=relative --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' 
	hist-no-graph = log --date=relative --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
	whatis = show --date=short -s --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' 
	slap = blame -wC 
	diffcw = diff --color-words
	unstage = reset HEAD --
	stage = add
	startbranch = checkout -b
	search = grep -i --break --heading --line-number -P
	searchhist = log --date=relative --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' -i -E -G
	searchmsgs = log --date=relative --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' -i -E --grep

[color]
	ui = auto

[blame]
	date = short

[mergetool "gvim"]
	cmd = gvim --nofork \"+Gdiff\" $MERGED
[merge]
	tool = gvim
[diff]
	tool = gvimdiff
[push]
	default = simple

[difftool "gvimdiff"]
	cmd = gvim --nofork -d "$LOCAL" "$REMOTE"
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
